<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ideas Index</title>
  </head>
  <body>

      <h2>Welcome, <%= @user.first_name %>!</h2>
      <ul>
        <% @ideas.each do |idea| %>
        <li>
          <%= idea.name %>
          <%= link_to 'Show', user_idea_path(idea, @user.id) %>
        </li>
        <% end %>
      </ul>
      <%= link_to 'Add New Idea', new_user_idea_path %>
      <%= link_to 'Logout', login_path %>

  </body>
</html>
